* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: beige ;
    display: flex;
    justify-content: center;
}

.header {
    padding:10px;
    background-color:darkslategray;
    color:beige;
    text-align: center;
    font-size:x-large;
    font-weight: 800;
    font-display: none;
}
h1{
    
    margin-top: x-large 80px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-style: italic;
    padding-top: 10px;
    position: relative;
    text-align: top 10px;
    font-size: 70px;

}

.navbar {
    margin: top ;
    text-align: right;
    padding-top: 1px;
}

.navbar a {
    color: white;
    text-decoration: none;
    
    padding-right: 1px;
}

.navbar a.active {
    background-color: #555;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #777;
    border-radius: 5px;
}


.contact-info {
    display: flex;
    justify-content: space-between;
    align-items:left 0;
    padding: 10px;
    font-size: x-large;
}

.contact-info address {
    flex:0;
    font-size: 40px;
    color: burlywood;
    text-align: left;
    padding-top: 300px;
    
}

.contact-info img {
    max-width:400px;
    border-radius: 15px;
    box-shadow: #777;
    position: relative;
    padding-top: 450px;
    
}